ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    flex-flow: wrap;
    
}
nav {
    background-color: rebeccapurple;
    height: 50px;
}
a {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}